name: Create Theme Release
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "1: Checkout repo"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: "2: Pack theme files"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: "no-theme.zip"
          path: .
