name: Create Theme Release
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "1: Checkout repo"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: "2: Pack theme files"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: "no-theme.zip"
          path: .
